<div id="contact" class="contact"></div>
<div  data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="web-1920-1 screen">
        <div class="overlap-group">
          <img
            class="contact" src="assets/img/contact.png" 
            
          />
          <div class="flex-col">
            <h1 class="vous-souhaitez-dmat segoeui-regular-normal-dove-gray-40px">
              Vous souhaitez dématérialiser<br />vos documents et/ou processus ?
            </h1>
            <div class="overlap-group1">
              <div> <a href="#" class="button instagram"><span class="gradient"></span>Contacter nous</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    
