@font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  
  .web-1920-1 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 686px;
    min-width: 1247px;
    overflow-x: hidden;
  }
  
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
  
  .overlap-group {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62363ce1fe3a439b1c784378/releases/6240c428965898c672e658a9/img/footerre-1x-png@1x.png);
    background-size: 100% 100%;
    display: flex;
    height: 491px;
    margin-left: -354px;
    margin-top: 35px;
    min-width: 1284px;
    padding: 48px 391px;
  
  }
  
  .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
    margin-left: 76px;
    min-height: 220px;
    width: 590px;
  }
  
  .vous-souhaitez-dmat {
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    min-height: 108px;
    white-space: nowrap;
    margin-left: 110px;
    margin-top: 5px;
    
  
  }
  
  .overlap-group1 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid var(--dove-gray);
    border-radius: 46px;
    display: flex;
    height: 72px;
    margin-left: 36px;
    margin-top: 40px;
    min-width: 258px;
    padding: 5.5px 3.5px;
  }
  
  .contacter-nous {
    -webkit-text-stroke: 1px 
  #80c633;
    color: var(--dove-gray);
    font-family: var(--font-family-segoeui-regular);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 38px;
    min-height: 53px;
    white-space: nowrap;
  }
  
  .contact {
    height: 295px;
    width: 248px;
    margin-left: 300px;
    margin-top: 200px;
  }
  section {
    padding: 60px 0;
    overflow: hidden;
    font-size: 30px;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: auto;
    margin-top: -450px;
    
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #80c633;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(228, 227, 227);
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #555;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
    bottom: 300px;
  }
  .button {
    display: block;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: normal;
    box-shadow:  rgb(126, 122, 122);
    margin-left: 150px;
  }
  .instagram {
    text-align: center;
    border-radius: 50px;
    padding: 26px;
    color: white;
    background: rgb(126, 122, 122);
    transition: all 0.2s ease-out 0s;
  }
  
  .gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(90px circle at top center, rgb(126, 122, 122) 30%, rgb(126, 122, 122));
    transition: all 0s ease-out 0s;
    transform: translatex(-140px);
    animation: 18s linear 0s infinite move;
  }
  
  @keyframes move {
    0% {
      transform: translatex(-140px);
    }
    25% {
      transform: translatex(140px);
      opacity: 0.3;
    }
    50% {
      transform: translatex(140px);
      opacity: 1;
      background: radial-gradient(90px circle at bottom center, #80c633 30%, #80c633);
    }
    75% {
      transform: translatex(-140px);
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translatex(-140px);
      background: radial-gradient(90px circle at top center, #80c633 30%,#80c633);
    }
  }