

.web-1280-1 {
  align-items: flex-start;
  background-color: 
#ffffff;
  display: flex;
  height: 828px;
  min-width: 1280px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62363eb1744f04b3ee205cd7/releases/623ca345c214531a64ef6fba/img/vertee12-1x-png-1x-png@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 600px;
  justify-content: flex-end;
  min-width: 1340px;
  padding: 47.7px 0;
}




.screen {
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1340px;
}


.efalia-suitela-dm {
  color: #ffffff;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 94px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}

.office1{
  height: auto;
  left: 525px;
  position: absolute;
  top: 54px;
  width: 750px;}
  
