<div id="home" class="home"></div>
<div class="web-1920-1screen">
  <div class="overlap-group">
    
    <img  src="assets/img/office.png" class="office1" >
   
    <h1 class="efalia-suitela-dm">
      Docstream<br />la dématérialisation<br />des documents<br />et des processus,<br />tout naturellement,<br />la
      dématérialisation<br />des documents<br />et des processus,<br />tout naturellement
    </h1>
  </div>
</div>




<app-about></app-about>


<app-services></app-services>
<app-solution></app-solution>
<app-team></app-team>
<app-contact></app-contact>
